.contact-form__inner {
    margin: 32px auto 0;
    width: 74%;
    font-size: 16px;
}

.contact-form__group {
    display: grid;
    align-items: center;
    margin-top: 32px;
    grid-template-columns: 1fr 2fr;
}

.contact-form__group:first-of-type{
    margin-top: 0;
}

.contact-form__group:last-of-type{
    align-items: flex-start;
}

.contact-form__required {
    color: #FF9494;
}

.contact-form__input {
    padding: 8px 16px;
    background-color: #F4F4F4;
    color: #BEB1A6;
}

.contact-form__name-inputs,
.contact-form__tel-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.contact-form__name-input {
    width: 100%;
}

.contact-form__gender-inputs {
    display: flex;
    justify-content: left;
}

.contact-form__gender-option {
    margin-right: 64px;
}

.contact-form__gender-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-form__gender-text {
    display: flex;
    align-items: center;
}

.contact-form__gender-text::before {
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border: 2px solid #8B7969;
    border-radius: 50%;
    content: '';
}

